.App {
  margin: auto;
  width: 800px;
  /*display: flex;*/
  /*flex-direction: column;*/
  text-align: center;
}

body {
  background-color: #f9ebd7;
}

.ContactContainer {
  display: grid;
  justify-content: center;
  flex-direction: column;
}
